@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.left-links, .right-links {         
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  gap: 16px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input, .buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}